*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.33;
  font-family: var(--font-family);
  font-weight: 700;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  text-decoration: none;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

svg {
  margin: auto 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
